body {
  display: grid;
  justify-items: center;
  min-height: 100vh;
}

.header,
.main {
  width: min(100%, 375px);
}

.header {
  height: 300px;
  width: 100%;
  background-image: url('../images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 2;
}

.header__title {
  padding-block: 2.5rem;
  font: var(--text-h1);
  color: var(--White);
  text-align: center;
}

.header__search {
  display: flex;
  justify-self: center;
  width: min(100%, 322.5px);
  background-color: var(--White);
  border-radius: 14px;
}

.header__search-input {
  justify-self: flex-end;
  flex-basis: 85%;
  padding-inline: 2rem;
  font: var(--text-input);
  color: var(--Gray-950);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: none;
  cursor: pointer;
}

.header__search-input:focus {
  outline: none;
}

.header__search-button {
  flex-grow: 1;
  height: 60px;
  background-color: var(--Black);
  background-image: url('../images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  cursor: pointer;
}

.header__search-button:hover {
  background-color: var(--Gray-950);
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.header__infos {
  display: grid;
  gap: 1.5rem;
  justify-self: center;
  align-content: center;
  width: 86%;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--White);
  border-radius: 14px;
}

.header__info {
  display: grid;
  gap: 0.5rem;
}

.header__info-title {
  font: var(--text-info);
  color: var(--Gray-400);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header__info-value {
  font: var(--text-base);
  color: var(--Gray-950);
}

.main {
  position: relative;
  height: calc(100vh - 300px);
  width: 100%;
  background-color: var(--Gray-400);
  z-index: 1;
}

.main__map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .header__search {
    width: calc(320px - 15%);
  }

  .header__search-input {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 280px;
    background-image: url('../images/pattern-bg-desktop.png');
  }

  .header__search {
    min-width: 600px;
  }

  .header__search-input {
    font: var(--text-input-desktop);
  }

  .header__infos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(1110px, 90%);
    padding: 3rem 3.5rem;
    text-align: left;
    transform: translateY(30%);
    z-index: 2;
  }
  
  .header__info {
    position: relative;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    height: 100%;
    padding-inline: 2rem;
  }
  
  .header__info:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    right: 0;
    top: 50%;
    background-color: var(--Gray-400);
    transform: translateY(-50%);
  }

  .header__info-title {
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }

  .header__info-value {
    font-size: 2.4rem;
  }

  .main {
    height: calc(100vh - 280px);
  }
}