body {
  display: grid;
  justify-items: center;
  min-height: 100vh;
}

.header,
.main {
  width: min(100%, 375px);
}

.header {
  height: 300px;
  width: 100%;
  background-image: url('../images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font: var(--text-h1);
  color: var(--White);
  text-align: center;
  padding-block: 2.5rem;
}

.header__search {
  display: flex;
  justify-self: center;
  width: min(100%, 322.5px);
  border-radius: 14px;
  background-color: var(--White);
}

.header__search-input {
  justify-self: flex-end;
  flex-basis: 85%;
  padding-inline: 2rem;
  font: var(--text-input);
  color: var(--Gray-950);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border: none;
}

.header__search-button {
  flex-grow: 1;
  height: 60px;
  background-color: var(--Black);
  background-image: url('../images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  cursor: pointer;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}

.header__infos {
  display: grid;
  justify-self: center;
  align-content: center;
  /* gap: 2rem; */
  width: 86%;
  margin-top: 2rem;
  /* padding-block: 2.5rem; */
  text-align: center;
  background-color: var(--White);
  border-radius: 14px;

  gap: 1.5rem;
  padding: 2rem;
}

.header__info {
  display: grid;
  /* gap: 1rem; */

  gap: 0.5rem;
}

.header__info-title {
  font: var(--text-info);
  color: var(--Gray-400);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header__info-value {
  font: var(--text-base);
  color: var(--Gray-950);
}

.main {
  height: calc(100vh - 300px);
  width: 100%;
  background-color: var(--Gray-400);
  z-index: -1;

  /* margin-top: -100px; */
  position: relative;
}

.main__map {
  /* position: relative; */
  /* left: 45%; */
  /* top: 60%; */
  /* height: 60px; */
  /* width: 60px; */
  background-image: url('../images/icon-location.svg');
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
  background-position: center;
}

@media screen and (max-width: 320px) {
  .header__search {
    width: calc(320px - 15%);
  }

  .header__search-input {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 280px;
    background-image: url('../images/pattern-bg-desktop.png');
  }

  .header__search {
    min-width: 600px;
  }

  .header__search-input {
    font: var(--text-input-desktop);
  }

  .header__infos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(1110px, 90%);
    /* margin-top: 5rem; */
    /* padding: 3.5rem; */
    text-align: left;
    
    /* gap: 0; */
    padding: 3rem 3.5rem;
    position: relative;
    z-index: 2;
    transform: translateY(20%);
  }
  
  .header__info {
    padding-inline: 2rem;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
  }
  
  .header__info:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    height: 75%;
    width: 1px;
    border-right: 1px solid var(--Gray-400);
  }

  .header__info-title {
    /* font-size: clamp(1.1rem, 1.1rem + 1.125vw, 1.4rem); */
    text-align: left;
    
    font-size: 1.1rem;
    /* letter-spacing: 0.15rem; */
    letter-spacing: 0.2rem;
  }

  .header__info-value {
    /* font-size: clamp(2rem, 2rem + 1.125vw, 2.8rem); */
    
    font-size: 2.4rem;
  }

  .main {
    height: calc(100vh - 280px);

    /* margin-top: -80%; */
  }

  /* .main__map {
    top: 30%;
  } */
}